.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010d04;
  color: #fcfcfc;
  width: 100%;
  margin: 0;
  padding: 0 2%;

  .logo-text {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
  }

  .header-links {
    font-family: "Rosario", sans-serif;

    a {
      text-decoration: none;
      color: #fcfcfc;
    }
  }
}
