.main-stories-page-container {
    width: 100%;
    padding: 10% 0;
    // background-image: url("https://i.ibb.co/JHFdv1b/main-header.jpg");
    position: center;

    .title-container {
        padding-left: 5%;
        display: flex;
        align-items: center;
        background-color: black;

        img {
            width: 60px;
            height: 60px;
            margin-right: 1%;
        }
    }

    .story-cards-container {
        width: 80%;
        margin: 0 auto;
    }

    .country-filter-container {
        form {
            display: flex;
            justify-content: flex-end;
            margin-right: 11%;
            margin-top: 5%;

            select {
                font-family: "Rosario";
                font-size: 1rem;
                padding: 0.5%;
            }
        }
    }

    h2 {
        margin-left: 11%;
    }

    .story-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .story-card {
            width: 30%;
            max-width: 400px;

            @media (max-width: 500px) {
                width: 100%;
            }

            // @media (max-width: 300px) {
            //     width: 100%;
            // }

            margin: 1%;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-sizing: border-box;

            img {
                width: 100%;
                margin-bottom: -2%;
            }

            .title-bar {
                width: 94%;
                padding: 3%;
                background-color: rgba(0, 0, 0, 0.5);
                // margin-top: -70px;
                z-index: 2;
                position: relative;

                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }

                h3,
                h4 {
                    line-height: 1rem;
                    padding: 3% 0;
                    margin: 0;
                }

                h4 {
                    font-weight: 400;
                }
            }

            a {
                color: white;
                text-decoration: none;
            }

            .description {
                padding: 0 3%;
                color: black;
            }
        }
    }
}