.main-stories-page-container {
  width: 100%;
  padding-top: 10%;
  background-image: url("https://i.ibb.co/JHFdv1b/main-header.jpg");
  background-position: center;

  @media (max-width: 350px) {
    padding-top: 10%;
  }

  .title-container {
  }

  .story-cards-container {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
  }

  .country-vilter-container {
  }

  .story-cards-container {
  }
}
