// FONT FAMILIES
// "Rosario", sans-serif;
// "Roboto", sans-serif;
// "Prompt", sans-serif;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Rosario", "Roboto", "Prompt", sans-serif;
  color: #ffffff;
  margin: 0;

  .to-top {
    text-decoration: none;
  }

  // a {
  //   text-decoration: none;
  //   color: #ffffff;
  // }

  // @media (min-width: 350px) {
  //   padding-top: 0;
  // }

  // @media (min-width: 576px) {
  //   padding-top: 0;
  // }

  // @media (min-width: 860px) {
  //   padding-top: 0;
  // }

  // @media (min-width: 992px) {
  //   padding-top: 15%;
  // }
}
