// FONT FAMILIES
// "Rosario", sans-serif;
// "Roboto", sans-serif;
// "Prompt", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Rosario", "Roboto", "Prompt", sans-serif;

  .to-top {
    text-decoration: none;
  }
}
