// FONT FAMILIES
// "Rosario", sans-serif;
// "Roboto", sans-serif;
// "Prompt", sans-serif;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Rosario", "Roboto", "Prompt", sans-serif;
  margin: 10% 0 10%;
  padding: 0;

  @media (max-width: 992px) {
    margin: 15% 0;
  }

  @media (max-width: 768px) {
    margin: 15% 0;
  }

  @media (max-width: 576px) {
    margin: 25% 0;
  }

  .to-top {
    text-decoration: none;
  }
}
